<doctype! html>
<html>
    <head>
        <script src="./lib/angular/angular.js"></script>
        <script src="./app.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div class="app" ng-app="App">

            <div class="title">
                <h1 class="reversed">
                    eR
                </h1>
                <h1>
                    V
                </h1>
                <h1>
                    ersi
                </hi>
            </div>

            <div class="board-wrapper" ng-controller="Game as game">
                <table class="board">
                    <tr class="table-row" 
                        ng-repeat="row in game.board track by $index"
                        ng-init="rowIndex = $index">
                        <td class = "table-square" 
                            ng-repeat="space in row track by $index"
                            ng-init="columnIndex = $index">
                            
                            <div ng-class="space"
                                 ng-click="game.click(rowIndex, columnIndex, space)"
                                 ng-mouseenter="space.hover = true" 
                                 ng-mouseleave="space.hover = false"></div>

                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </body>
</html>