<doctype! html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="./lib/angular/angular.js"></script>
        <script src="./app.js"></script>
    </head>
    <body class="preload">
        <div ng-app="App" class="app">

            <div class='title'>
                <h1 class="reversed">
                    eR
                </h1>
                <h1>
                    V
                </h1>
                <h1>
                    ersi
                </hi>
            </div>

            <div class="board-wrapper">
                <table class="board" ng-controller="Game as game">

                    <tr class="table-row" 
                        ng-repeat="row in game.state.board track by $index"
                        ng-init="rowIndex = $index">

                        <td class = "table-square" 
                            ng-repeat="space in row track by $index"
                            ng-init="columnIndex = $index">
                            
                            <!-- this div is for the game pieces -->
                            <div ng-class="[game.evalClass(space), {hover: hovering}]"
                                ng-init="hovering = false"
                                ng-click="game.click(rowIndex, columnIndex, space)"
                                ng-mouseenter="hovering = true" 
                                ng-mouseleave="hovering = false"></div>

                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </body>
</html>